@charset "utf-8";

.clear::after{content: ""; display: block; clear: both;}
.main.style1 > .content{text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);}
.main.style1 > .content::after{display: block; clear: both; content: "";}
.main.style1 h2{float: left;}
.main.style1 p{float: right; text-align: left;}
.main.style1 p span{font-weight: bold;}
#intro.main.dark .button.style2.down{
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main.style2 .content{
  width: 65%;
}

.main.style2#one .content.box.style2>div{float: left; margin-right: 100px;}
.main.style2#two .content.box.style2>div>div{float: left; margin-right: 70px;}
.main.style2#two .content.box.style2>div.info{margin-bottom: 20px;}

.gallery > article .image{height: 245px; overflow: hidden;}
.gallery > article .image::before{transition: all 0.3s; opacity: 0;}
.gallery > article:hover .image::before{opacity: 0.6;}
.gallery > article{position: relative;}
.gallery > article p{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  font-size: 1.8rem; font-weight: bold;
  color: #fff;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  opacity: 0; transition: all 0.5s;
}
.gallery > article:hover p{opacity: 1;}
.main > .content h3{display: block; text-align: center; margin: 20px 0;}

